@model CapaDatos.Entidades.Funcionario

@{
    ViewData["Title"] = "buscarFuncionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>buscarFuncionario</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.documentoIdentificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.idFuncionario)
            </td>
            <td>
                @Html.DisplayFor(model => model.nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.apellido)
            </td>
            <td>
                @Html.DisplayFor(model => model.fechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(model => model.documentoIdentificacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.idFuncionario }) |
                @Html.ActionLink("Details", "Details", new { id = Model.idFuncionario }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.idFuncionario })
            </td>
        </tr>
    </tbody>
</table>


